<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/styles.css">
    <title>A Single Cupcake</title>
</head>
<body>
    <header>

        <img src="../static/cupcake-clipart.png" alt="cupcake" id="cupcake">
        <div id = shop-name-nav>
            <h1>The Cupcake Shop</h1>
            <nav>
                <a href="/cupcakes">Menu</a>
                <a href="/">Home</a>
                <a href="/order">Cart</a>
            </nav>
        </div>
        <img src="../static/cupcake-clipart.png" alt="cupcake" id="cupcake">

    </header>

    <main>
        <img src="https://www.smallcakescupcakery.com/assets/gallery-home-1-mobile-a217b892f4844cc2e4d98098bfc235ae1e6d40d76d336ed5c1a676302c176012.jpg" alt="cupcake box" id="cupcake-box">
        <h2>Here is a single cupcake</h2>
    </main>
</body>
</html>